## 1.字典

### 1.1 字典的创建  python3.7

In [1]:
d1 = {'name':'txx','age':22,'gender':'male'}

In [8]:
type(d1)

dict

In [9]:
d2 = dict({'name':'txx','age':22,'gender':'male'})
d2

{'name': 'txx', 'age': 22, 'gender': 'male'}

In [10]:
d3 = dict(name='txx',age=22,gender='male')
d3

{'name': 'txx', 'age': 22, 'gender': 'male'}

In [17]:
d4 = dict([('name','txx'),('age',22),('gender','male')])
d4

{'name': 'txx', 'age': 22, 'gender': 'male'}

In [19]:
d1 == d2 == d3 == d4

True

### 1.2 字典的访问

In [23]:
d = {'name':'txx','age':22,'gender':'male'}
d['name']

'txx'

In [24]:
d.get('name','txy')

'txx'

In [25]:
d.get('city',"nanjing") # 不存在的key,返回默认值

'nanjing'

### 1.3 字典添加

In [30]:
d['city'] = 'nanjing'
d

{'name': 'txx', 'age': 22, 'gender': 'male', 'city': 'nanjing'}

### 1.4 更新字典

In [31]:
d['name'] = 'txy'
d

{'name': 'txy', 'age': 22, 'gender': 'male', 'city': 'nanjing'}

### 1.5 删除键

In [32]:
d.pop('city')

'nanjing'

In [33]:
d

{'name': 'txy', 'age': 22, 'gender': 'male'}

### 1.3 元素是否在字典中

In [27]:
'name' in d

True

In [29]:
'city' in d

False

## 2.集合

### 2.1 集合的创建

In [20]:
s1 = {1,2,3}
s1

{1, 2, 3}

In [21]:
s2 = set({1,2,3})
s2

{1, 2, 3}

In [22]:
s1 == s2

True

### 2.2 元素是否在集合中

In [28]:
3 in s2

True

### 2.3 集合添加元素

In [34]:
s = {1,2,3}
s

{1, 2, 3}

In [35]:
s.add(4)
s

{1, 2, 3, 4}

### 2.4 排序

In [40]:
# 根据字典升序排序
d = {'b':1,'a':2,'c':10}
d_sorted_by_key = sorted(d.items(),key=lambda x:x[0])
d_sorted_by_value = sorted(d.items(),key=lambda x:x[1])

In [41]:
d_sorted_by_key

[('a', 2), ('b', 1), ('c', 10)]

In [42]:
d_sorted_by_value

[('b', 1), ('a', 2), ('c', 10)]

### 2.4 集合移除元素

In [36]:
s.remove(3)

In [37]:
s

{1, 2, 4}

In [38]:
# 集合pop是删除最后一个元素,但是其本身是无序的,所以,你也不知道最后一个是什么
s.pop() 
s

{2, 4}

### 2.5 排序

In [48]:
s = {10,3,4,12,2,1,5,9}
s

{1, 2, 3, 4, 5, 9, 10, 12}

In [49]:
sorted(s)

[1, 2, 3, 4, 5, 9, 10, 12]